* {
  background-color: #ecf7f3;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  display: grid;
  justify-items: start;
  grid-template-areas: "main__container main__photo";
  grid-template-columns: 1.4fr 0.6fr;
  padding: 0 10vw;
  width: 100vw;

  h1 {
    grid-area: main__h1;
    margin-top: 20%;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: #2d2d2d;
  }

  button {
    grid-area: main__button;
    width: 130px;
    height: 46px;
    padding: 8px 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    background: #48b774;
    border: 1px solid #48b774;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
    margin-top: 2%;
  }

  button:hover {
    background: #a5f48d;
    border: 1px solid #52d450;
  }
}

.main__container {
  display: grid;
  grid-template-areas:
    "main__h1"
    "main__p"
    "main__button"
    "main__form"
    "main__ava";
  grid-template-rows: 40vh 10vh 10vh 10vh 20vh;
}

.main__h1__p {
  padding: 0;
  margin: 0;
}

.main__h1__span {
  color: #ff8345;
}

.main__p {
  grid-area: main__p;
  max-width: 80%;
  margin-top: 4%;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: #7c7c7c;
}

.main__form {
  grid-area: main__form;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 557px;
  height: 62px;
  border-radius: 100px;
  box-shadow: 0px 20px 30px 0px #dedede40;
  padding: 10px 0px 10px 29px;
  margin-top: 2%;
  background-color: #fff;

  input {
    flex-grow: 2;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: #a1a1a1;
    background-color: #fff;
  }
  input:focus {
    outline: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    margin: 2px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
    background: #48b774;
    border: 1px solid #48b774;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
  }

  button:hover {
    background: #a5f48d;
    border: 1px solid #338d32;
  }
}

form:focus-within {
  outline: 2px solid #ff8345;
}

.main__ava {
  grid-area: main__ava;
  grid-template-areas: "main__avacontainer main__phref";
  grid-template-columns: 0.4fr 0.6fr;
  margin-top: 4%;
  //   font-size: 15px;
  //   font-weight: 500;
  //   line-height: 26px;
  //   color: #7c7c7c;
}

.main__avacontainer {
  grid-area: main__avacontainer;
  //   display: flex;
  //   flex-direction: row;
  position: relative;
  height: 55px;
  width: 55px;
}

.main__ava4 {
  position: absolute;
  left: 10px;
}

.main__ava3 {
  position: absolute;
  left: 30px;
}
