@media screen and (min-width: 601px) {
  .header {
    display: flex;
    padding: 0 3vw;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 10vh;
    line-height: 18px;
  }
  .header img {
    max-width: 131px;
  }
  .header nav {
    display: flex;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .header nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px;
    padding-left: 0px;
    list-style: none;
    width: 63vw;
    height: 75px;
    align-self: center;
  }
  .header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 120px;
  }
  .header nav ul li a {
    display: flex;
    text-decoration: none;
    color: #4a4a4a;
    margin: 2%;
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header nav ul li p {
    color: #4a4a4a;
    height: 56%;
    max-width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .header nav ul li p:hover {
    content: "";
    display: block;
    height: 80%;
    padding-top: 5px;
    border-bottom: 2px solid #ff8345;
  }
  .header button {
    height: 42px;
    padding: 9px 23px;
    font-size: 16px;
    font-weight: 500;
    background: #48b774;
    border: 1px solid #48b774;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
  }
  .header button:hover {
    background: #a5f48d;
    border: 1px solid #52d450;
  }
  .header__mobile {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__logo,
  .header__nav,
  .header__button {
    display: none;
  }
  .header__navmobile__openmenu {
    width: 22vw;
    height: 4vh;
    padding: 0.5vh 0vw 0vh 0vw;
    margin-left: 2vw;
    color: #ffffff;
    background-color: #48b774;
    font-size: 4vw;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
  }
  .header__navmobile__openmenu .header__navmobile__openmenu:hover {
    background: #a5f48d;
    border: 1px solid #52d450;
  }
  .header__navmobile__openmenu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    background-color: #48b774;
    border-radius: 50px;
  }
  .header__navmobile__closemenu {
    right: 10%;
    font-size: 35px;
    margin-left: 80%;
    text-decoration: none;
    color: #ffffff;
  }
  .header__mobile {
    display: grid;
    align-items: center;
    justify-items: end;
    padding: 4vw 9vw 0vw 9vw;
    grid-template-columns: 50% 50%;
  }
  .header__mobile img {
    justify-self: flex-start;
    max-width: 30vw;
    max-height: 29vw;
  }
  .header__mobile ul {
    height: 32%;
    width: 20%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: #48b774;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 5.5vw;
    border-radius: 30px 0px 30px 30px;
    overflow-x: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .header__mobile ul li {
    padding: 1vh;
    list-style-type: none;
    color: #ffffff;
    text-decoration: none;
    background-color: #48b774;
  }
  .header__mobile ul li a {
    color: #ffffff;
    text-decoration: none;
    background-color: #48b774;
  }
  .header__mobile ul li a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ff8345;
  }
}/*# sourceMappingURL=header.css.map */